<div class="main-div">
  <form [formGroup]="form" class="form">
    <h3 class="logInTitle">Log Into Your Account</h3>
    <input
      class="input"
      type="text"
      placeholder="Email"
      formControlName="email"
    />
    <input
      class="input"
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    <button class="formButton" (click)="login()">Login</button>
    <p class="noAccountText">Haven't Got An Account Yet?</p>
    <button class="formButton" (click)="signUpClicked()">Sign Up</button>
  </form>
</div>
