.event-card {
  align-items: center;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 1.2em;
  background-color: white;
  border-radius: 10px;
  padding: 0.7em;
  letter-spacing: 1px;
  color: #5b9aa0;
  box-shadow: 5px 10px 5px #622569;
}
.event-card > h2 {
  margin-right: 1em;
}
.event-card > button {
  min-width: fit-content;
  max-height: fit-content;
  height: 2em;
  background-color: white;
  border: white;
  border-radius: 5px;
  border-width: 1px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: white;
}

.title {
  font-size: x-large;
}
.members-info {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  width: 5.3em;
  color: blueviolet;
  position: absolute;
  margin-top: 4em;
  margin-left: 0.1em;
  right: 1.1em;
}
