@media screen and (min-width: 300px) and (max-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    border: 10px solid #622569;
  }

  .eventsHeading {
    letter-spacing: 0px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 20;
    font-size: 20px;
    margin-top: 20px;
  }

  .eventList {
    justify-content: space-around;
  }

  .map {
    height: 100px;
    width: 100px;
  }
}
/* Large Screens */
@media screen and (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    border: 10px solid #622569;
  }

  .eventsHeading {
    letter-spacing: 0px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 20;
    font-size: 20px;
    margin-top: 20px;
  }

  .eventList {
    justify-content: space-around;
  }

  .map {
    height: 100px;
    width: 100px;
  }
}
