main {
  padding: 2.5rem;
  background-color: #ffeaec;
  flex-basis: 1;
}

.list {
  list-style: none;
}

button {
  border: 0;
  outline: 0;
  background-color: #0d5c63;
  color: #ffeaec;
  padding: 5px;
  border-radius: 5px;
}
/* .demoMap{
} */
