<main>
  <li class="singleCard">
    <h2>{{ meet.title }}</h2>
    <p>{{ meet.description }}</p>
    <p>Where: {{ meet.area }}</p>
    <p>When: {{ formatDate }}</p>
    <p>Time: {{ meet.start_time.slice(0, 5) }}</p>
    <p>Organiser: {{ meet.organiser }}</p>
    <p>Duration: {{ meet.duration }} mins</p>
    <p>Visibility: {{ meet.visibility }}</p>
    <p>Teacher Available: {{ meet.willing_to_teach }}</p>
    <p>Games Provided: {{ meet.games.join(", ") }}</p>
    <h3>Who's Attending:</h3>
    <p *ngFor="let guest of meet.guests">{{ guest.username }}</p>
    <button (click)="postEventToUserEvents()">+</button>
  </li>
</main>
