<div class="border">
  <h3 class="title">{{ formattedName }}</h3>
  <div class="container">
    <div class="game-container">
      <img class="img" src="{{ game.image_url }}" />
    </div>
    <section class="addToFaves">
      <br />Add To Favourites
      <button class="addToGames" (click)="postGameToUserGames()">+</button>
    </section>
    <p class="players">
      Players: {{ game.min_players }} - {{ game.max_players }}
    </p>
    <p class="desc" style="white-space: pre-line">{{ game.description }}</p>
    <a class="rules" href="{{ game.rules_url }}">Rules</a>
  </div>
</div>
