<section class="createEventBorder">
  <h3>Select A Location On The Map Below</h3>
  <section>
    <form (ngSubmit)="postMeet(model)" #eventForm="ngForm">
      <app-map (myOutputValue)="saveLocation($event)"></app-map>
      <label for="title">Event Name</label>
      <input
        type="text"
        id="title"
        required
        [(ngModel)]="model.title"
        name="title"
      />
      <br />
      <label for="area">Area</label>
      <input
        type="text"
        id="text"
        required
        [(ngModel)]="model.area"
        name="area"
      />

      <br />
      <label for="description">Description</label>
      <textarea
        id="description"
        required
        [(ngModel)]="model.description"
        name="description"
      ></textarea>
      <br />
      <label for="date">When</label>
      <input
        type="date"
        id="date"
        required
        [(ngModel)]="model.date"
        name="date"
      />

      <br />
      <label for="start_time">Time</label>
      <input
        type="time"
        id="time"
        required
        [(ngModel)]="model.start_time"
        name="start_time"
      />
      <br />
      <label for="duration"
        >Duration In Mins<br />
        <sup>(optional)</sup></label
      >
      <input
        class="number"
        type="number"
        id="number"
        [(ngModel)]="model.duration"
        name="duration"
      />
      <br />
      <fieldset class="fieldset1">
        <legend>Teacher Available</legend>
        <label>
          Yes
          <input
            type="radio"
            id="yes"
            value="true"
            name="willing_to_teach"
            required
            [(ngModel)]="model.willing_to_teach"
          />
        </label>
        <label>
          No
          <input
            type="radio"
            id="no"
            value="false"
            name="willing_to_teach"
            required
            [(ngModel)]="model.willing_to_teach"
          />
        </label>
      </fieldset>
      <fieldset class="fieldset2">
        <legend>Event Visibility</legend>
        <label>
          Public
          <input
            type="radio"
            id="public"
            value="true"
            name="visibility"
            required
            [(ngModel)]="model.visibility"
          />
        </label>
        <label>
          Private
          <input
            type="radio"
            id="private"
            value="false"
            name="visibility"
            required
            [(ngModel)]="model.visibility"
          />
        </label>
      </fieldset>
      <br />
      <button type="submit" [disabled]="!eventForm.form.valid">
        Add Event
      </button>
      <button type="button" (click)="newMeet(); eventForm.reset()">
        Reset
      </button>
    </form>
  </section>
</section>
