<div class="main-div">
  <form [formGroup]="form" class="form">
    <h3 class="createAccountText">Create Account</h3>
    <input
      class="input"
      type="text"
      placeholder="username"
      formControlName="username"
    />
    <input
      class="input"
      type="text"
      placeholder="email"
      formControlName="email"
    />
    <input
      class="input"
      type="password"
      placeholder="password"
      formControlName="password"
    />
    <input
      class="input"
      type="text"
      placeholder="location"
      formControlName="location"
    />
    <button class="formButton" (click)="signUp()">Sign Up</button>
    <p class="noAccountText">Already Have An Account?</p>
    <button class="formButton" (click)="loginClicked()">Log In</button>
  </form>
</div>
