<p>sign-up!</p>

<div class="main-div">
  <form [formGroup]="form" class="form">
    <input type="text" placeholder="username" formControlName ="username" />
    <input type="text" placeholder="email" formControlName ="email" />
    <input type="text" placeholder="password" formControlName ="password" />
    <input type="text" placeholder="location" formControlName ="location" />
    <button (click)="signUp()">Sign Up</button>
  </form>

  <button (click)="loginClicked()">Log In</button>
</div>
