@media screen and (min-width: 300px) and (max-width: 1024px) {
  .main-div {
    display: flex;
    flex-direction: column;
    background-color: #622569;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
  }

  .form {
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
  }

  .input {
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }
  .noAccountText {
    color: white;
    font-weight: 100;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 30px;
  }

  .formButton {
    padding: 15px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #d6d4e0;
    color: black;
    border: none;
    width: 150px;
  }

  .createAccountText {
    color: white;
    letter-spacing: 4px;
    word-spacing: 3px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 10;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Large Screens */
@media screen and (min-width: 1024px) {
  .createAccountText {
    color: white;
    letter-spacing: 4px;
    word-spacing: 3px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 10;
    font-size: 20px;
  }

  .main-div {
    background-color: #622569;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    max-width: 350px;
  }

  .input {
    flex-wrap: wrap;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
  }
  .noAccountText {
    color: white;
    font-weight: 100;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .formButton {
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #d6d4e0;
    color: black;
    border: none;
  }

  .logInTitle {
    color: white;
    letter-spacing: 4px;
    word-spacing: 3px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 10;
    font-size: 20px;
    margin-bottom: 20px;
  }
}
