@media (min-width: 300px) and (max-width: 1024px) {
  section {
    padding: 0px;
    margin: 0px;
    background-color: #d6d4e0;
  }
}

section {
  display: flex;
  flex-direction: column;
  background-color: #d6d4e0;
  height: 100%;
}

.map {
  height: 100px;
  width: 100%;
}
