<main class="userProfile">
  <h2>Welcome back {{ user.username }}!</h2>
  <br />
  <h3>My Games</h3>
  <br />
  <ul class="gameList">
    <li
      *ngFor="let game of user.games"
      routerLink="{{ '/games/' + game.game_id }}"
    >
      <p>{{ formatGameName(game.game_title) }}</p>
      <br />
    </li>
  </ul>
  <br />
  <h3>My Events</h3>
  <br />
  <ul class="eventList">
    <li
      *ngFor="let event of user.events"
      routerLink="{{ '/events/' + event.event_id }}"
    >
      <p>{{ event.name }}</p>
      <br />
    </li>
  </ul>
  <br />
  <button class="formButton" (click)="goToCreateEvent()">
    Create New Event
  </button>
</main>
