@media screen and (min-width: 300px) and (max-width: 1024px) {
  h2 {
    letter-spacing: 2px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 20;
    font-size: 20px;
    margin-top: 20px;
  }

  .userProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 10px solid #622569;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: #b8a9c9;
    padding-bottom: 200px;
  }

  .formButton {
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #5b9aa0;
    color: black;
    border: none;
    width: 60%;
    margin-left: 75px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
  }

  .formButton:hover {
    background-color: #a14faa;
    font-size: 25px;
  }
  .dice {
    background-color: none;
    border: none;
    font-size: 20px;
  }

  .gameList {
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #efefef;
    background-color: #d6d4e0;
    padding: 10px;
    width: 70%;
    list-style: none;
    margin-left: 45px;
    padding-top: 15px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    padding-bottom: 0px;
  }
  .eventList {
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #efefef;
    background-color: #d6d4e0;
    padding: 10px;
    width: 70%;
    list-style: none;
    margin-left: 45px;
    padding-top: 15px;
    letter-spacing: 1px;
    font-weight: 300;
    padding-bottom: 0px;
  }
}
/* Large Screens */
@media screen and (min-width: 1024px) {
  h2 {
    letter-spacing: 2px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 20;
    font-size: 20px;
    margin-top: 20px;
  }

  .userProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 10px solid #622569;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: #b8a9c9;
    padding-bottom: 200px;
  }

  .formButton {
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #5b9aa0;
    color: black;
    border: none;
    width: 60%;
    margin-left: 75px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
  }

  .formButton:hover {
    background-color: #a14faa;
    font-size: 25px;
  }
  .dice {
    background-color: none;
    border: none;
    font-size: 20px;
  }

  .gameList {
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #efefef;
    background-color: #d6d4e0;
    padding: 10px;
    width: 70%;
    list-style: none;
    margin-left: 45px;
    padding-top: 15px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    padding-bottom: 0px;
  }
  .eventList {
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #efefef;
    background-color: #d6d4e0;
    padding: 10px;
    width: 70%;
    list-style: none;
    margin-left: 45px;
    padding-top: 15px;
    letter-spacing: 1px;
    font-weight: 300;
    padding-bottom: 0px;
  }
}
