@media screen and (min-width: 300px) and (max-width: 1024px) {
  .gameBrief {
    max-width: 100%;
  }
}

.gamesCard {
  display: flex;
  flex: 1;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  list-style-type: none;
  /* padding: 10px; */
  /* margin: 10px; */
}

.gameBrief {
  width: 200px;
  border: 1px solid grey;
}

img {
  border-radius: 10px;
}

.addToGames {
  border: none;
  font-size: 30px;
  background-color: #d6d4e0;
  cursor: pointer;
  float: inline-end;
  margin-left: 60px;
  margin-top: 0px;
}
.addToGames:hover {
  font-size: 50px;
}
