.gamesCard {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}

.gameBrief {
  width: 300px;
  padding-left: 20px;
}

img {
  border-radius: 10px;
}

.addToGames {
  border: none;
  font-size: 30px;
  background-color: #d6d4e0;
  cursor: pointer;
  float: inline-end;
  margin-left: 60px;
  margin-top: 0px;
}
.addToGames:hover {
  font-size: 40px;
}
